@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.header {
    background-color: #F3123C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 1px 0px 12px rgba(0, 0, 0, 0.6);
    
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.logo {
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 10px;
}

.menu {
    display: flex;
    padding: 15px;
    margin: 0 auto;
    font-size: 22px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.menu button:hover {
    background-color: #fff;
    border-radius: 10px;
    transition: all .2s;
    box-shadow: 1px 1px 10px #000;
    cursor: pointer;
    
}

.menu button {
    margin-left: 25px;
    margin-right: 25px;
    padding: 13px;
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-weight: bolder;
    text-align: center;
    background-color: transparent;
    border: none;
}

.login {
    margin-right: 1rem;
    display: flex;
}

.login a {
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
}

.login button {
    margin-left: 10px;
    margin-right: 1rem;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 1px 1px 10px #000000c2;
    border: none;
}

.login button:hover {
    transition: all .2s;
    border: none;
    background-color: transparent;
    cursor: pointer;
    a {
        color: #fff;
    }
}

.conta {
    margin-right: 1rem;
    display: flex;
    margin-left: 10px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 1px 1px 10px #000000c2;
    border: none;
}

.conta a {
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    text-align: center;
}

.conta i {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-right: 7px;
}


.conta:hover {
    transition: all .2s;
    border: none;
    background-color: transparent;
    cursor: pointer;
    a {
        color: #fff;
    }

    i {
    color: #fff;
    }
}

.wrap {
    display: grid;
    grid-template-columns: 400px 1fr;
    width: 100%;
    height: 94vh;
}

.sidebar {
    background-color: #fff;
    box-shadow: 1px 5px 15px #00000067;
}

.fotos-carros {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.fotos-carros > div {
    flex: 1 1 330px;
    margin: 10px;
}

img {
    max-width: 100%;
    display: block;
}

.card-carro {
    background-color: #00000060;
    height: 500px;
    width: 50px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.sidebar h1 {
    margin-top: 50px;
    text-align: center;
}
